## Github desktop

다음의 차례대로 깃허브 사용법을 익히고 아래 과제를 자신의 깃허브 저장소에 업로드(push)하시기 바랍니다.
1. github에 계정을 만든다.
2. 새로운 저장소(repository)를 만든다. (create a new repository)
3. github desktop을 다운로드 및 설치한다.
4. 온라인 상의 저장소를 로컬컴퓨터로 가져온다. (pull)
5. commit, push로 내 컴퓨터에 있는 파일을 저장소에 업데이트한다.

참고 : 구글에 "깃허브 사용법", "깃허브 데스크탑 사용법"을 검색하세요.

## 구구단

1. 구구단 1단부터 9단까지 출력하는 코드를 작성하여 ipynb파일로 저장한다.
2. 자신의 github에 과제를 제출한다.
3. 자신의 github주소를 ecampus에 과제에 올린다.

In [25]:
import numpy as np
import pandas as pd

In [26]:
list_=[]
col=[]

for idx in range(1,10):
    col.append(str(idx)+' Times')
    for jdx in range(1,10):
        list_.append(str(jdx)+' x '+str(idx)+' = '+str(idx*jdx))

In [27]:
list_=np.array(list_)
list_=list_.reshape(9,9)
df=pd.DataFrame(list_,columns=col,index=range(1,10))

In [28]:
df

,1 Times,2 Times,3 Times,4 Times,5 Times,6 Times,7 Times,8 Times,9 Times
1,1 x 1 = 1,2 x 1 = 2,3 x 1 = 3,4 x 1 = 4,5 x 1 = 5,6 x 1 = 6,7 x 1 = 7,8 x 1 = 8,9 x 1 = 9
2,1 x 2 = 2,2 x 2 = 4,3 x 2 = 6,4 x 2 = 8,5 x 2 = 10,6 x 2 = 12,7 x 2 = 14,8 x 2 = 16,9 x 2 = 18
3,1 x 3 = 3,2 x 3 = 6,3 x 3 = 9,4 x 3 = 12,5 x 3 = 15,6 x 3 = 18,7 x 3 = 21,8 x 3 = 24,9 x 3 = 27
4,1 x 4 = 4,2 x 4 = 8,3 x 4 = 12,4 x 4 = 16,5 x 4 = 20,6 x 4 = 24,7 x 4 = 28,8 x 4 = 32,9 x 4 = 36
5,1 x 5 = 5,2 x 5 = 10,3 x 5 = 15,4 x 5 = 20,5 x 5 = 25,6 x 5 = 30,7 x 5 = 35,8 x 5 = 40,9 x 5 = 45
6,1 x 6 = 6,2 x 6 = 12,3 x 6 = 18,4 x 6 = 24,5 x 6 = 30,6 x 6 = 36,7 x 6 = 42,8 x 6 = 48,9 x 6 = 54
7,1 x 7 = 7,2 x 7 = 14,3 x 7 = 21,4 x 7 = 28,5 x 7 = 35,6 x 7 = 42,7 x 7 = 49,8 x 7 = 56,9 x 7 = 63
8,1 x 8 = 8,2 x 8 = 16,3 x 8 = 24,4 x 8 = 32,5 x 8 = 40,6 x 8 = 48,7 x 8 = 56,8 x 8 = 64,9 x 8 = 72
9,1 x 9 = 9,2 x 9 = 18,3 x 9 = 27,4 x 9 = 36,5 x 9 = 45,6 x 9 = 54,7 x 9 = 63,8 x 9 = 72,9 x 9 = 81

### Save to Excel

In [35]:
df.to_excel('Multiplication_Table.xlsx')